<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.vaguehope.onosendai"
	android:versionCode="1"
	android:versionName="1">

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true" />

	<application
		android:name="Onosendai"
		android:allowBackup="true"
		android:icon="@drawable/ic_hosaka_meji"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<activity
			android:name="org.acra.CrashReportDialog"
			android:theme="@android:style/Theme.Dialog"
			android:launchMode="singleInstance"
			android:excludeFromRecents="true"
			android:finishOnTaskLaunch="true" />

		<activity
			android:name=".ui.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.PostActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.OutboxActivity"
			android:label="@string/outbox_title"
			android:theme="@android:style/Theme.Holo">
		</activity>

		<activity
			android:name=".ui.SetupActivity"
			android:label="@string/setup_title"
			android:theme="@android:style/Theme.Holo">
		</activity>

		<activity
			android:name=".ui.pref.OsPreferenceActivity"
			android:label="@string/preferences_title"
			android:theme="@android:style/Theme.Holo">
		</activity>

		<activity
			android:name=".ui.pref.TwitterLoginActivity"
			android:label="@string/preferences_title"
			android:theme="@android:style/Theme.Holo">
		</activity>

		<activity
			android:name=".ui.pref.ColumnStatsActivity"
			android:label="@string/column_stats_title"
			android:theme="@android:style/Theme.Holo">
		</activity>

		<receiver android:name=".update.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".update.AlarmReceiver" />
		<receiver android:name=".notifications.MarkAsReadReceiver" />

		<service
			android:name=".update.UpdateService"
			android:label="@string/update_service_label" />
		<service
			android:name=".update.FetchPictureService"
			android:label="@string/fetch_picture_service_label" />
		<service
			android:name=".update.HosakaSyncService"
			android:label="@string/hosaka_sync_service_label" />
		<service
			android:name=".storage.DbService"
			android:label="@string/storage_service_label" />
		<service
			android:name=".provider.SendOutboxService"
			android:label="@string/send_outbox_service_label" />
		<service
			android:name=".update.CleanupService"
			android:label="@string/cleanup_service_label" />
		<service
			android:name=".notifications.MarkAsReadService"
			android:label="@string/mark_as_read_service_label" />

		<provider
			android:name="com.vaguehope.onosendai.images.CachedImageFileProvider"
			android:authorities="com.vaguehope.onosendai.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/exposed_file_paths" />
		</provider>

	</application>

</manifest>