/*
 sky-dark:  #000000 [black]
 sky-light: #2E2336 [dark-purple]
 horizon:   #294166
 sea-light: #1A2940
 sea-dark:  #000000 [black]
 title: #8380E6 [lylac]
 links: #B080E6 [light-purple]
 float: #211B25 [grey-purple]

 */

/* ~~~ colours ~~~ */

body {
	background: #2E2336;
}

#background0 {/* sky-dark -> sky-light */
	background-image: -moz-linear-gradient(top, #000000 0%, #2E2336 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000000), color-stop(100%, #2E2336));
	background-image: linear-gradient(top, #000000 0%, #2E2336 100%);
}
#background1 {/* horizon, sea-light -> sea-dark */
	border-top: solid 1px #294166;
	background-image: -moz-linear-gradient(top, #1A2940 0%, #000000 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1A2940), color-stop(100%, #000000));
	background-image: linear-gradient(top, #1A2940 0%, #000000 100%);
}

#title h1, #title p, #footer {
	color: #B3B1E8;
}
.menu {
	background: #211B25;
	background-color: rgba(33,27,37,0.6);
}
a {
	color: #B080E6;
}

/* ~~~ layout ~~~ */

a:link, a:visited {
	text-decoration: none
}
a:active, a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#background0, #background1 {
	position: absolute;
	width: 100%;
	z-index: -1;
}

#background0 {
	top: 0;
	height: 92%;
}

#background1 {
	top: 93%;
	height: 7%;
	margin: -1px;
}

#title {
	padding: 0.5em 3em;
}

#title h1 {
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.1em;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

#title p {
	text-align: center;
	padding: 0.2em 0 0 0;
	margin: 0;
  font-style:italic
}

.content {
	text-align: center;
}

.menu {
	display: inline-block;
	margin: 0 auto; /* Make div centre. */
	padding: 0.5em 1em;
	border-radius: 10px;
	text-align: center;
}

.menu a {
	margin: 0.5em;
	font-size: 1.5em;
}

.screenshot {
  position: absolute;
  top: 8.5em;
  bottom: 8%;
  width: 100%;
  overflow: auto;
}

.screenshot img {
  height: 99%;
  max-height: 500px;
  width: auto;
  max-width: 900px;

}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
  overflow: hidden;
  display: table;
  text-align: center;
}

#footer .wrapper {
  display: table-cell;
  vertical-align: middle;
}

#footer p {
  padding: 0;
  margin: 0;
}
